<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="favicon.ico">
    <title>Quality of This Data</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <!-- Bootstrap theme -->
    <link href="css/bootstrap-theme.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="css/theme.css" rel="stylesheet">
  </head>

  <body role="document">

    <!-- Fixed navbar -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="/">Home</a></li>
            <li><a href="about">About This Data Set</a></li>
	    <li  class="active"><a href="quality">Data Quality</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div class="container theme-showcase" role="main">

      <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="jumbotron">
	<h1>Quality: About This Data Set</h1>
        <p> This data is about Wenyan's daily activities and locations visited from 12 Oct to 17 Oct, collected by AWARE mobile app, using various sensors in mobile. </a></p>
      </div>

    
      <div class="page-header">
	<h2>Is the data complete?</h2>
	<p> The data may not not complete, the location plug in was not correctly set up and the records of location were missing from 12 Oct to 15 Oct. On top of that, the
	accuracy of mobile data is questionable, a large portion of my activities records have no or "unknown" activities, and some timestamps of my location records were missing. </p>
      </div>
      
      <div class="page-header">
	<h2>Is the data coherent?</h2>
	<p>The location data matches my expectation, (most of records were from my home and CMU), most valid activity records are "stationary" or "walking", this also matches my daily activity pattern.
 </p>
      </div>

      <div class="page-header">
	<h2>Is the data correct?</h2>
	<p>I think most of the records is correct as both locations and activities matches my daily schedule, but I tend to leave my phone in locker most of time when I visit Gym or workout, that result in some incoherency to my daily activities.</p>
      </div>

    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="js/jquery-1.11.3.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/docs.min.js"></script>
  </body>
</html>
